* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	margin-left: 10px;
	margin-right: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
}

.container1 {
	display: flex;
	flex-direction: row;
	margin-top: 70px;
}

.bbox1 {
	padding: 100px;
	width: 30%;
}

.bbox22{
	margin-left:auto ;
	margin-right: 100px;
}

h1 {
	font-family: "Bungee", sans-serif;
	font-weight: 900;
	font-size: 300%;
	margin-bottom: 20px;
	color: #162542;
}

p {
	font-family: "Baloo Thambi 2", system-ui;
	font-optical-sizing: auto;
	margin-bottom: 20px;
	font-weight: 1000;
	color: #7B8BAD;
}

.pre1 {
	background-color: #e1f6ff;
	border: none;
	padding: 20px;
	border-radius: 0px 18px 0px 18px;
	color: #162542;
	font-weight: 900;
}


.pre2:hover{
	background-color: #88B1FF;
}

.pre1:hover{
	background-color: #ADE6FF;
}

.pre2 {
	background-color: #2852a1;
	border: none;
	padding: 20px;
	border-radius: 0px 18px 0px 18px;
	color: #ffffff;
	font-weight: 900;
}

.pre3 {
	border: none;
	background-color: white;
	color: #7b8bad;
	font-weight: 900;
}

.container2 {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-left: 100px;
}

.imggg{
	display: flex;
	justify-content: space-evenly; 
}

.imgggg{
	margin-left: 50px;
}

.bbox2 {
	padding: 100px;
	width: 30%;
	margin-left: auto;
}

h2 {
	font-family: "Bungee", sans-serif;
	font-weight: 900;
	font-size: 200%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.box {
display: flex;
gap: 180px;
justify-content: center;
margin-top: 150px;
}

.bbbox {
width: 15%;

}



span{
	display: flex;
	justify-content: center;
	font-family: "Bungee", sans-serif;
	font-weight: 900;
	font-size: 100%;
	color: #7B8BAD;
	margin-top: 100px;
}

